@charset "UTF-8";

:root {
	--main-color: #000;
	--sub-color: #FFF;
	--bg-color: #4F0600;
	--bg-color2: #830e04;
	--text-color1: #666;
	--text-color2: #EEE;
	--text-color3:#ffffff;
	--line-color: #84514d;
	--point-color: #cf160c
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
html {
	font-size: 20px;
}
body {
	font: 1rem/1.5 "Roboto Condensed", "Noto Sans KR";
	color: var(--sub-color);
	font-size: .7rem;
	background-color: var(--bg-color);
}

a, a:link {
	color: inherit;
	text-decoration: none
}

ul,ol {
	list-style: none;
}

form, fieldset, legend {
	margin: 0;
	padding: 0;
}

.roboto-condensed-medium {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-kr-regular {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 